# React
/frontend/node_modules
/frontend/coverage
/frontend/build
/frontend/dist
/frontend/dist-django
/frontend/.env*
.vscode
/frontend/__snapshots
*.test.js
*__snapshots__/
# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
Lib
*.env
build
dist

# Backup files # 
*.bak 
