altgraph==0.17
asgiref==3.3.1
Django==3.1.4
django-cors-headers==3.6.0
django-environ==0.4.5
django-heroku==0.3.1
django-rest-auth==0.9.5
djangorestframework==3.12.2
future==0.18.2
gunicorn==20.0.4
pefile==2019.4.18
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pytz==2020.4
pywin32-ctypes==0.2.0
six==1.15.0
sqlparse==0.4.1
whitenoise==5.2.0